
.option{

  background-color:rgb(109, 179, 245);
  border:1px solid black;
  padding: 4px;
  font-size: 20px;
  margin:7px;

}
.option:hover{
    border:1px solid black;
  border-radius: 10px;
  background-color: #8ebfe0;
  cursor: pointer;
 

}
.quizApp{
  padding-top: 20px;
  text-align:center;
  font-family: 'Lora', serif;
  color:whitesmoke;
  border-radius: 1px solid black;
}
.card{
  margin:5px auto;
  padding:10px;
  text-align:center;
  height:"400px";
  width:"60%";
}
h2{
   color:"black";
   font-family: "Ubuntu", sans-serif;
   font-weight:"900" ; 
}
